@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Arvo&family=Balsamiq+Sans&family=Libre+Franklin:wght@100&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');
*{
    margin:0px;
    padding:0px;
    
}

body {
    font-family: 'poppins', sans-serif;
}
footer {
	background-color: black;
	height: 60px; padding: 40px;
	color:white;  text-align: center;
  
  }
/* Global Tags*/
h1 {
    font-size: 2.1rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}



:root{
    --navbar-height:59px;
}

/*------------------
  Categories section
---------------------*/
/*------------------
  Categories section
---------------------*/

.categories-section .container {
	margin-bottom: -34px;
}

.categorie-item {
	margin-bottom: 34px;
	background: #edf4f6;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.categorie-item .ci-thumb {
	background-size: cover;
	height: 148px;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.categorie-item .ci-text {
	padding: 40px 35px;
}

.categorie-item .ci-text h5 {
	margin-bottom: 5px;
}

.categorie-item .ci-text span {
	font-size: 18px;
	font-weight: 600;
	color: #d82a4e;
}

.categorie-item:hover {
	background: #d82a4e;
}

.categorie-item:hover .ci-text h5,
.categorie-item:hover .ci-text p,
.categorie-item:hover .ci-text span {
	color: #fff;
}


/*------------------
  Course section
---------------------*/

.course-warp {
	max-width: 1559px;
	padding: 0 15px;
	margin: 0 auto -30px;
}

.course-item {
	margin-bottom: 30px;
}

.course-item .course-thumb {
	height: 270px;
}

.course-item .course-thumb .price {
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background: #d82a4e;
	display: inline-block;
	padding: 13px 19px;
	margin: 14px;
}

.course-item .course-info {
	background: #edf4f6;
}

.course-item .course-info .course-text {
	padding: 45px 33px 25px;
}

.course-item .course-info .course-text h5 {
	margin-bottom: 5px;
}

.course-item .course-info .course-text .students {
	font-size: 18px;
	font-weight: 600;
	color: #d82a4e;
}

.course-item .course-info .course-author {
	border-top: 1px solid #d4dee1;
	padding: 14px 33px;
	overflow: hidden;
}

.course-item .course-info .course-author .ca-pic {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	float: left;
}

.course-item .course-info .course-author p {
	padding-left: 60px;
	margin-bottom: 0;
	padding-top: 7px;
	font-weight: 600;
}

.course-item .course-info .course-author p span {
	color: #d82a4e;
}

.course-item.featured-course {
	position: relative;
	margin-bottom: 97px;
}

.course-item.featured-course:last-child {
	margin-bottom: 30px;
}

.course-item.featured-course:nth-child(2n) .course-thumb {
	left: auto;
	right: 0;
}

.course-item.featured-course .course-thumb {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.course-item.featured-course .fet-note {
	display: inline-block;
	background: #d82a4e;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	padding: 4px 15px;
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-text {
	padding: 70px 33px 25px;
}

.course-item.featured-course .course-info .course-text h5 {
	margin-bottom: 20px;
}

.course-item.featured-course .course-info .course-author {
	border-top: none;
	padding: 14px 33px 60px;
}

.course-filter {
	list-style: none;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 60px;
}

.course-filter li {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #474747;
	padding: 12px 10px 5px;
	margin: 0 10px;
	border-bottom: 4px solid transparent;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.course-filter li.mixitup-control-active {
	color: #d82a4e;
	border-bottom: 4px solid #d82a4e;
}
#registration {
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5),rgba(81,91,233,0.5)),url("images/signup");
}
#registration .reminder
{
color: #fff;
}
#registration .reminder h1
{
color: #fff;
}
#registration .reminder .time
{
display: flex;
margin-top: 40px;
}

#registration .reminder .time .date
{
text-align: center;
padding: 13px 33px;
background: rgba(255,255,255,0.25);
background-origin:blur(4px);
box-shadow: 0 8px 32px 0 rgba(31,)
}
#registration .form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84,40,241);
    outline: none;
}
#registration .form .btn{
    margin-top: 20px;
}
.course-box{
    position:relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.course-box .imgBx{
    position: relative;
    max-width: 600px;
    background: #fff;
    margin: 10px;
    padding: 15px;
    display: flex;
    align-content: right;
}
.course-box .imgBx .content{
    width: 100%;
}
#experts{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}
#experts .expert-box{
display: gris;
grid-template-columns: repeat(auto-fit, minma(320px,1fr));
grid-gap: 1rem;
margin-top: 50px;
}
#experts .expert-box .profile
{
    background: #fafaf1;
    padding: 30px 10px;
    display: grid;
    place-items: center;
}

.column
{
    float: left;
    width: 33.33%;
    padding: 5px;
}
*
{
    box-sizing: border-box;
}
